.product_box_bottom_btn .cart_btn {
    background: #1a4623;
    padding: 5px 10px;
    color: white !important;
    border-radius: 5px;
}
.second_btn {
    padding: 5px 10px !important;
    border-radius: 5px;
}
.box_shadow {
    box-shadow: 0px 0px 15px 0px #66666626;
}
.category_section {
    background: white;
}
.rad_5 {
    border-radius: 5px;
}
.banner-slider .slick-dots {
    bottom: 20px !important;
}
span.search_icon {
    background: #EDEDED;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
}
span.search_icon i {
    font-size: 20px !important;
}
.header_cat_bar {
    background: #1a4622;
    padding: 5px 10px;
    color: white;
}
.gap_5{
    gap: 5px;
}
.bg_soft_green{
    background: #E8ECE9;
}
.feature-boxes-container span{
    background: #1a4622;
    padding: 12px;
    color: white;
    border-radius: 5px;
}
.feature-boxes-container h5,.feature-boxes-container h6{
    margin-bottom: 0;
}